<%= form_for(@artist) do |f| %>
  <% if @artist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
      <% @artist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :genre %><br />
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {:include_blank => true, :default => '-'})%>
  </div>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

    Related Artists:
  <% for artist in current_user.artists %>
<div>
  <%= check_box_tag "artist[artist_ids][]", artist.id, @artist.artists.include?(artist) %>
  <%= artist.name %>
</div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
