<!DOCTYPE html>
<html>
<head>
  <title>MusicMap</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "960" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "d3" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container_16">
	<div class="navbar">
	<ul class="inline">
		<li id="homeNav"><a href="/">Music Map</a></li>
		<li class="navLinks"><a href="/artists">Artists</a></li>
		<li class="navLinks"> </li>
		<li class="navLinks"><a href="/genres">Genres</a></li>
	</ul>
</div>
	<%= yield %>
</div>


</body>
</html>
